* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
}

.update-product-page {
    background-color: #f4f5f7;
    padding: 20px;
    min-height: 100vh;
}

.h2-updt-prod {
    font-size: 20px;
    margin-bottom: 20px;
    text-align: left;
    width: 90%;
    margin-left: 60px;
}

.update-product-form-container {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 90%;
    margin: 10px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.updt-product-desc-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


.update-product-form .form-group {
    margin-bottom: 20px;
    text-align: left;
}

.update-product-form label {
    font-weight: bold;
    margin-bottom: 8px;
    display: block;
    font-size: 16px;
}

.update-product-form input,
.update-product-form textarea {
    width: 90%;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.update-product-form textarea {
    height: 120px;
    width: 300px;
    resize: vertical;
}

@media(max-width: 768px) {

    .update-product-form input,
    .update-product-form textarea {
        width: 100%;
    }
}

@media (max-width: 600px) {

    .update-product-form-container {
        padding: 15px;
        width: 90%;
    }

    .update-product-form label {
        font-size: 14px;
    }

    .update-product-form input,
    .update-product-form textarea {
        font-size: 14px;
        padding: 10px;
    }

    .btn-submit {
        font-size: 16px;
        padding: 12px;
    }
}