.shrt-cont {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  width: 100%;
  flex-direction: column;
  padding: 10px 0;
  margin-top: 10px;
}

.shrt-lnk-elements {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  font-size: 13px;
  font-weight: 600;
  gap: 15px;
  width: 100%;
}

.shrt-lnk-element,
a.shrt-lnk-element {
  padding: 0 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 0.3s ease;
  white-space: normal;
  word-wrap: break-word;
  max-width: 170px;
  text-align: center;
  box-sizing: border-box;
}

.shrt-lnk-element:hover {
  color: #2874f0;
  cursor: pointer;
}

.arrow-down {
  margin-left: 5px;
  transition: transform 0.3s ease;
}

.arrow-down.rotate {
  transform: rotate(180deg);
}

@media (max-width: 1200px) {
  .shrt-lnk-elements {
    gap: 0px;
  }

  .shrt-lnk-element,
  a.shrt-lnk-element {
    max-width: 110px;
    padding: 0px;
  }
}

@media (max-width: 768px) {
  .shrt-lnk-elements {
    gap: 4px;
    font-size: 12px;
  }

  .shrt-lnk-element {
    flex: 1 1 45%;
    padding: 0 2px;
  }
}

@media (max-width: 480px) {
  .shrt-lnk-elements {
    gap: 5px;
    font-size: 10px;
    justify-content: center;
  }

  .shrt-lnk-element {
    flex: 1 1 30%;
  }

  .arrow-down {
    font-size: 0.8em;
  }
}