.footer-cntnr {
    background-color: black;
    color: aliceblue;
    font-size: 12px;
    padding: 30px 0;
    width: 100%;
    margin-top: 10px;
}

.footer-grid {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.col {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 10px;
    flex: 1 1 16%;
}

.hdng {
    color: rgb(154, 153, 153);
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 14px;
}

.col a,
.col p {
    color: #fff;
    text-decoration: none;
    margin: 5px 0;
    font-size: 12px;
}

.col a:hover {
    text-decoration: underline;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    border-top: 1px solid rgb(54, 53, 53);
    padding-top: 15px;
    flex-wrap: nowrap;
}

.footer-links {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    flex-wrap: nowrap;
}

.footer-links a {
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    justify-content: center;
    flex-shrink: 0;
    text-align: center;
}

.footer-links img {
    margin-right: 8px;
    max-width: 25px;
    height: auto;
}

.footer-legal span {
    padding: 10px;
}

@media (min-width: 1240px) {
    .footer-grid {
        display: flex;
        flex-wrap: nowrap;
    }

    .col {
        flex: 1 1 16%;
    }

    .footer-links {
        justify-content: space-evenly;
        width: 50%;
    }

    .footer-legal {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
}

@media (max-width: 1240px) and (min-width: 1024px) {
    .footer-grid {
        display: flex;
        flex-wrap: wrap;
    }

    .col {
        flex: 1 1 30%;
    }

    .footer-links {
        justify-content: space-evenly;
        width: 100%;
    }

    .footer-legal {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .footer-bottom {
        display: flex;
        flex-wrap: nowrap;
    }

}

@media (max-width: 1024px) and (min-width: 768px) {
    .footer-grid {
        display: flex;
        flex-wrap: wrap;
    }

    .col {
        flex: 1 1 30%;
    }

    .footer-links {
        justify-content: space-evenly;
        width: 100%;
    }

    .footer-links a {
        flex: 1 1 20%;
    }

    .footer-links img {
        max-width: 24px;
    }
}

@media (max-width: 768px) {
    .footer-grid {
        display: flex;
        flex-wrap: wrap;
    }

    .col {
        flex: 1 1 30%;
    }

    .footer-bottom {
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .footer-links {
        flex-direction: row;
        justify-content: center;
        width: 100%;
    }

    .footer-links a {
        flex: 1 1 20%;
    }

    .footer-links img {
        max-width: 24px;
    }

    .footer-legal {
        display: none;
    }

    .footer-legal img {
        width: 120px;
    }
}

@media (max-width: 425px) {
    .footer-cntnr {
        display: none;
    }
}