.desc-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    gap: 20px;
}

.left-desc {
    flex: 1;
    min-width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-desc img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
}

.right-desc {
    flex: 1;
    min-width: 300px;
    max-width: 600px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.right-desc h1 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.hdng-highlights {
    list-style-type: none;
    padding-left: 0;
    margin: 10px 0;
    text-align: left;
}

.hdng-highlights .desc-hdng {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.hdng-highlights li {
    font-size: 14px;
    color: #555;
}

.desc-hdng {
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
}

.cart-add {
    text-align: center;
    margin-top: 20px;
}

.cart-add button {
    background-color: #fb641b;
    padding: 10px;
    color: white;
    border: none;
    font-weight: 600;
    cursor: pointer;
}

.cart-add button:hover {
    border: 1px solid #fb641b;
}

@media screen and (max-width: 768px) {
    .desc-container {
        flex-direction: column;
        align-items: center;
    }

    .left-desc {
        width: 100%;
        max-width: 100%;
    }

    .right-desc {
        width: 100%;
        max-width: 100%;
    }

    .right-desc h1 {
        font-size: 22px;
    }

    .hdng-highlights .desc-hdng {
        font-size: 16px;
    }

    .hdng-highlights li {
        font-size: 12px;
    }

    .desc-hdng {
        font-size: 16px;
    }

    .cart-add button {
        width: 45%;
    }
}

@media screen and (max-width: 1024px) {
    .desc-container {
        align-items: center;
    }

    .left-desc {
        width: 100%;
        max-width: 80%;
    }

    .right-desc {
        width: 100%;
        max-width: 80%;
    }

    .right-desc h1 {
        font-size: 22px;
    }

    .hdng-highlights .desc-hdng {
        font-size: 16px;
    }

    .hdng-highlights li {
        font-size: 14px;
    }

    .desc-hdng {
        font-size: 16px;
    }

    .cart-add button {
        width: 15%;
    }
}

@media screen and (min-width: 1025px) {
    .desc-container {
        flex-direction: row;
    }

    .left-desc {
        width: 45%;
    }

    .right-desc {
        width: 50%;
    }

    .right-desc h1 {
        font-size: 26px;
    }

    .hdng-highlights .desc-hdng {
        font-size: 18px;
    }

    .hdng-highlights li {
        font-size: 16px;
    }

    .desc-hdng {
        font-size: 18px;
    }

    .cart-add button {
        width: auto;
    }
}